@{
    ViewBag.Title = "Home Page";
}


<!DOCTYPE html>
<html>
<head>
    <title>Bienvenido</title>
</head>
<body>
    <h1>Bienvenido</h1>

    <p>Hola ¡Bienvenido a nuestra aplicación!</p>

    <p>
        lorem   
    </p>

</body>
</html>
